/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
    padding-top: 2em;
}

.container {
    background-color: #f5f5f5;
    min-height: 90vh;
}

.form-group {
    small {
        margin-top: -15px;
    }
}
